.main-preview{
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 9999999;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
  }

body{
    margin: 0;
    padding: 0;
    display: flex;
    position: relative;
    flex-direction: column;
    min-width: 1255px;
    font-family: 'Oswald', sans-serif;
    background: url("./img/background.jfif") fixed  no-repeat;
    background-size: 100%;
  }

body a {
    text-decoration: none;
    color: black;
}

.loader {
    margin: auto;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
    width: 64px;
    height: 64px;
    border-radius: 50%;
    perspective: 800px;
  }
  
.inner {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;  
  }
  
.inner.one {
    left: 0%;
    top: 0%;
    animation: rotate-one 1s linear infinite;
    border-bottom: 3px solid #fbff00;
  }
  
.inner.two {
    right: 0%;
    top: 0%;
    animation: rotate-two 1s linear infinite;
    border-right: 3px solid #fbff00;
  }
  
.inner.three {
    right: 0%;
    bottom: 0%;
    animation: rotate-three 1s linear infinite;
    border-top: 3px solid #fbff00;
  }
  
@keyframes rotate-one {
    0% {
      transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
  }
  
@keyframes rotate-two {
    0% {
      transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
  }
  
@keyframes rotate-three {
    0% {
      transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
  }

.header{
    display: flex;
    align-items: center;
    line-height: 40px;
    background-color: #000;
  }

.footer{
    margin-top: auto;
    height: 100px;
    background-color: gainsboro;
    display: none;
  }

.main{
    display: flex;
    flex-direction: column;
    margin: 0 0 5px 55px;
    width: 844px;
    flex: 1 1 auto;
    box-shadow: 0 0 10px rgb(148, 141, 141);
    border-radius: 10px;
  }

.navigation{
    display: flex;
    align-items: center;
    padding-left: 60px;
    margin: 0;
    flex-grow: 1;
}

.navigation-ul{
    display: flex;
    flex-grow: 4;
    padding: 0;
    min-width: 250px;
    flex-grow: 5;
    list-style: none;
}

.navigation-ul li a{
    line-height: 30px; 
    margin-right: 30px;
    color: #fff;  
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    flex-grow: 1;
}

.navigation-ul a:hover{
    cursor: pointer;
    border-bottom: 2px solid gold;
}

.searchBox {
  margin-left: auto;
  margin-right: 35px;
  background: #2f3640;
  height: 40px;
  border-radius: 40px;
  padding: 10px;

}

.searchBox:hover > .searchInput {
  width: 240px;
  padding: 0 6px;
}

.searchBox:hover > .searchButton {
  background: white;
  color : #2f3640;
}

.searchButton {
  color: white;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.searchInput {
  border:none;
  background: none;
  outline:none;
  float:left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;

}

@media screen and (max-width: 620px) {
  .searchBox:hover > .searchInput {
    width: 150px;
    padding: 0 6px;
  }
}

.search {
  flex-grow: 1;
  position: relative;
}

.slider-box{
    width: 1200px;
    margin: 5px 55px 0 55px;
    display: flex;
    border-radius: 0 10px 10px 0;
    height: 300px;
    background-color: rgba(240, 255, 240, 0.68);
    box-shadow: 0 0 10px rgb(148, 141, 141);
}

.slider{
    width: 95%;
}

.slider-aside{
    width: 5%;
}

.social{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;
    font-size: 25px;
    list-style: none;
}

.social li a:hover{
    cursor: pointer;
    color: gold;
}

.main-content{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    flex: 1 1 auto;
    background-color: rgba(240, 255, 240, 0.68);
    border-radius: 0 0 10px 10px;
}

.content-box{
    width: 250px;
    height: 320px;
    margin: 30px 0 30px 19px;
    border-radius: 10px;
    background-image: url("./img/123.jpg");
    background-size: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.65);
}

.content-box:hover{
    cursor: pointer;
    position: relative;
    transform: scale(1.08);
}

.content{
    display: flex;
    border: 2px solid #fff;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    border-radius: 10px;
    padding: 0 5px ;
    background: linear-gradient(0deg, #fff, #fff, #fff, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));    
}

.content-header{
    margin-top: 50%;
    font-size: 30px;
    font-weight: 900;
    margin-left: 3px;
}

.content-desc{
    margin-left: 3px;
    font-style: italic;
    color: rgb(114, 111, 111);
}

.tags{
    display: flex;
    justify-content: flex-start;
}

.tags-item{
    background-color: black;
    color: white;
    opacity: 0.3;
    border-radius: 15px;
    text-align: center;
    width: 80px;
    margin-left: 3px;
}

.tags-item:hover{
    opacity: 0.7;
    cursor: pointer;
}