@font-face {
	font-family: 'Corsiva'; 
	src: local('Corsiva'),
		url('../fonts/corsiva.ttf'); 
}


@font-face {
	font-family: 'TypeFont'; 
	src: local('TypeFont'),
		url('../fonts/PFDinTextCondPro-Medium.ttf'); 
}


.active-button{
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  background-color: #fffffff5;
  height: 100vh !important;
  padding: 90px !important;
  color: black !important;
}
.holo-button a{
  color: #000;
}
.holo-button{
  width: 50px;
  height: 50px;
  font-size: 45px;
  color: #d2c1b5;
  padding: 20px;
  margin-left: auto;
  transition: 0.15s;
}

.holo-button div{
  margin: 30px 0;
  color: black;
  font-size: 100px;
}

.holo-button div::before{
  content: '>';
}

.hidden{
  display: none;
}
@media screen and (max-width: 980px) {
  .video{
    display: none;
  }
.header-logo{
  margin: 59px;
}
  .menu-content {
    max-height: 0;
    overflow: hidden;
    padding: 0 0 0 10px;
  }
  .header-wrapper{
    height: 120px !important;
  }

  .header-text{
    margin-top: 100px;
  }
  .header-cover{
    background-image: url("../img/map2.jpg");
    background-size: cover;
    filter: brightness(0.2);
  }
  .calendar{
    padding: 25px;
    border-radius: 5%;
    margin: 50px auto !important;
    display: flex !important;
    height: auto !important;
    flex-direction: column !important;
    width: 80% !important;
    align-items: center !important;
  }
  .header-text-name{
    font-size: 100px !important;
  }
  .header-text-cit{
    font-size: 65px !important;
  }
  .calendar div{
    margin-bottom: 15px;
    height: 100px !important;
    width: 100%;
    line-height: 100px;
    font-size: 45px;
  }
  .calendar div input::placeholder{
    font-size: 45px;
  }
  .calendar div select{
    font-size: 45px;
  }
  .header-video{
    height: auto !important;
  }
  .header-nav{
    margin-left: auto !important;
  }

  body{
    width: 100% !important;
  }

  .map-pull{
    flex-direction: column;
    align-items: center;
  }
  .map-pull-text{
    width: auto !important;
    font-size: 35px !important;
  }

  .services{
    flex-direction: column;
    align-items: center;
    font-size: 35px !important;
  }

  .services-text{
    margin: 0 auto;
  }

  .services-text-center{
    font-size: 35px !important;
    width: 100% !important;
    padding: 0 !important;
  }
}

body{
  min-width: 1300px; 
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

.note{
  font-family: 'TypeFont', cursive;
  font-size: 18px;
  color: white;
}

.fa{
  text-rendering: optimizeLegibility;
}

a{
  text-decoration: none;
  color: #d2c1b5;
}

li {
  list-style-type: none; 
 }
 ul {
  margin-left: 0;
  padding-left: 0; 
 }

.header1 {
  width: 100%;
  background: #1a1a1dad;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
.footer{
  background: #1a1a1dad;
  height: 200px;
  display: flex;
  color: whitesmoke;
  align-items: center;
}
.footer li{
  margin-bottom: 5px;
}
.footer-text__right{
  text-align: right;
  width: 400px;
  padding-right: 60px;
}
.footer-text__center{
  flex-grow: 1;
  height: 170px;
  display: flex;
  
}
.footer-text__center a:hover{
  cursor: pointer;
  transform: scale(1.1);
}
.footer-text__center a{
  transition: transform 0.8s;
  margin: 0 auto;
}
.footer-text__center a img{
  height: 100%;
  border: 5px solid whitesmoke;
  border-radius: 20px;
}
.footer-text__left{
  width: 400px;
  padding-left: 60px;
}

.header-wrapper{
  display: flex;
  margin: 0 auto;
  max-width: 1100px;
  height: 95px;
  align-items: center;
}
.header-logo{
  background-image: url('../img/logo.png');
  height: 87px;
  width: 71px;
  background-size: cover;
}
.header-nav{
  font-family: 'TypeFont';
  font-size: 20px;
  letter-spacing: 2px;
  color: #d2c1b5;
  margin-left: 20px;
  cursor: pointer;
}
.header-nav:nth-last-child(3){
  margin-left: auto;
  cursor: default;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.header-cover{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  background-color: #1a1a1dad;
}
.header-text{
  display: flex;
  width: 100%;  
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.header-text-name{
  font-family: 'TypeFont', cursive;
  font-size: 50px;
  color: whitesmoke;
   
  margin-bottom: 10px;
  letter-spacing: 1px;
}
.header-text-cit{
  font-family: 'TypeFont', cursive;
  font-size: 30px;
  color: whitesmoke;
}
.header-video{
  width: 100%;
  display: flex;
  position: relative;
}

.wrapper{
  margin: 0 auto;
  max-width: 1100px;
}

.video {
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -1;
  position: absolute;
}

.calendar{
  margin: 50px auto;
  display: flex;
  height: 45px;
  width: 1100px;
  justify-content: space-between;
}
.calendar-first{
  display: flex;
  border: 2px solid whitesmoke;
  width: 20%;
}
.calendar-last{
  border: 2px solid whitesmoke;
  width: 20%;
  display: flex;
}
.calendar-text{
  font-family: 'TypeFont', cursive;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;
  line-height: 40px;
  height: 100%;
  color: whitesmoke;
  background-color: rgba(245, 245, 245, 0.205);
  width: 40%;
}
.calendar-text-g{
  font-family: 'TypeFont', cursive;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 1px;
  height: 100%;
  color: whitesmoke;
  background-color: rgba(245, 245, 245, 0.205);
  width: 60%;
}
.calendar-block{
  font-family: 'TypeFont', cursive;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 1px;
  height: 100%;
  color: whitesmoke;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0;
  cursor: pointer;
}
.calendar-block::placeholder{
  font-family: 'TypeFont', cursive;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 1px;
  height: 100%;
  color: whitesmoke;
}
.calendar-guests{
  border: 2px solid whitesmoke;
  width: 15%;
  display: flex;
  cursor: pointer;
}
.calendar-guests-text{
  text-align-last: center;
  font-family: 'TypeFont', cursive;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  width: 40%;
  letter-spacing: 1px;
  height: 100%;
  color: whitesmoke;
  background-color: rgba(0, 0, 0, 0);
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0;
  cursor: pointer;
}
option{
  background-color: rgba(0, 0, 0, 0.527);
}

.calendar-search{
  border: 2px solid whitesmoke;
  width: 20%;
  font-family: 'TypeFont', cursive;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 1px;
  color: whitesmoke;
  cursor: pointer;
}
.calendar-search:hover{
  background-color: rgba(245, 245, 245, 0.205);
}


.social{
  width: 100px;
  height: 95px;
  z-index: 1;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 20px;
}
.social-img1{
  height: 48px;
  width: 48px;
  background-image: url('../img/viber.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;
  cursor: pointer;
}
.social-img2{
  height: 48px;
  width: 48px;
  background-repeat: no-repeat;
  background-image: url('../img/wapp.png');
  cursor: pointer;
}

.offers{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.content-text{
  font-family: 'TypeFont', cursive;
  font-size: 30px;
  text-align: center;
  display: block;
  padding: 20px;
}
.content-text__small{
  font-family: 'TypeFont', cursive;
  font-size: 19px;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.offer-box:nth-child(2n+1){
  background-color: #d2c1b5;
  height: 200px;
  width: 20%;
}
.offer-box:nth-child(2n){
  background-color: black;
  height: 200px;
  width: 20%;
}
.offer-box:last-of-type{
  width: 30%;
  height: 250px;
}
.offer-box:nth-last-of-type(2){
  width: 30%;
  height: 250px;
}

.offer-box:last-of-type span:first-of-type{
  bottom: 85%;
}
.offer-box:nth-last-of-type(2) span:first-of-type{
  bottom: 85%;
}


.offer-box{
  position: relative;
  box-shadow: 10px 30px 34px black;;
  border: 4px solid black;
  transition: transform 0.8s;
  margin-bottom: 65px;
}
.offer-box:hover{
  cursor: pointer;
  transform: scale(1.05);
}
.offer-box img{
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.offer-box span {
  font-family: 'TypeFont', cursive;
  font-size: 17px;
  position: absolute;
  left: 0;
  bottom: 0%;
  text-align: right;
  padding: 5px 0;
  color: whitesmoke;
  background: #1a1a1dad;
  width: 100%;
  letter-spacing: 3px;
}
.offer-box span:first-of-type{
  font-family: 'Corsiva', cursive;
  font-size: 22px;
  position: absolute;
  top: 0%;
  bottom: 80%;
  left: 0;
  text-align: center;
  padding: 7px 0;
  color: whitesmoke;
  background: #1a1a1dad;
  width: 100%;
  letter-spacing: 3px;
}
.fa-user:last-child{
  font-size: 10px;
}

.rules{
  font-family: 'TypeFont', cursive;
  font-size: 25px;
}
.rules a{
  width: 590px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  border: 2px solid black;
  margin: 27px auto;
  padding: 5px;
  text-decoration:none;
  color: black;
  text-align: center;
  box-shadow: 0px 0px 32px #a07658;
  border-radius: 0 0 70px 70px;
}
.rules ul li{
  list-style: circle;
  padding: 7px;
}
.map iframe{
  padding-bottom: 30px;
}

.services{
  display: flex;
  justify-content: space-around;
}
.services-text{
  font-family: 'TypeFont', cursive;
  font-size: 30px;
  text-align: center;
   
  letter-spacing: 5px;
  height: 70px;
  align-self: center;
  width: 500px;
}
.services-text-center{
  padding: 20px;
  font-family: 'TypeFont', cursive;
  font-size: 25px;
  width: 500px; 
   
  letter-spacing: 3px;
}
.services-text-center ul{
  padding-left: 60px;
  margin-bottom: 15px;
}
.services-text-center ul li{
  list-style: circle;
}
.services-text-center:last-of-type .services-text:last-of-type{
  line-height: 70px;
}

.map{
  display: flex;
}
.map-list{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  font-family: 'TypeFont', cursive;
  font-size: 20px;
   
  letter-spacing: 3px;
  width: 320px;
}
.map-list div:nth-child(2n){
  padding-bottom: 6px;
  margin-bottom: 6px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.map-img{
  background-image: url('../img/map.jpg');
  width: 900px;
  height: 450px;
  align-self: center;
  background-size: cover;
  box-shadow: 0 0 10px black;
}


.citat{
  display: flex;
  flex-direction: column;
  align-self: center;
}
.citat img{
  height: 140px;
  padding-top: 10px;
}
.weather{
  font-family: 'TypeFont', cursive;
  font-size: 20px;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #646466;
  padding: 10px;
  background-color: #33353b9e;
}
.weather-case{
  display: flex;
}
.weather-case div{
  margin: 15px;
}

.auto{
  margin: 0 auto;
  box-shadow: 0 0 10px black;
  border-radius: 13px;
}

.xpandable-block {
  height: 0px;
  overflow: hidden;
  order: 0;
}
.xpand-button {
  order: 1;
}
input[type="checkbox"] {
 display: none;
}
input[type="checkbox"]:checked + .xpandable-block {
  height: auto;
}
label {
  order: 1;
  font-size: 18px;
  cursor: pointer;
  border: 2px solid black;
  margin: 15px auto;
  width: 700px;
  box-shadow: 0px 0px 32px #a07658;
  border-radius: 0 0 70px 70px;;
}

#slider_bl .wrapper{max-width:60em;margin:1em auto;position:relative}#slider_bl input{display:none}#slider_bl .inner{width:500%;line-height:0}#slider_bl article{width:20%;float:left;position:relative}#slider_bl article img{width:100%}#slider_bl .slider-prev-next-control{height:50px;position:absolute;top:50%;width:100%;-webkit-transform:translateY(-50%);-moz-transform:translateY(-50%);-ms-transform:translateY(-50%);-o-transform:translateY(-50%);transform:translateY(-50%)}#slider_bl .slider-prev-next-control label{display:none;width:40px;height:40px;border-radius:50%;background:#fff;opacity:.7}#slider_bl .slider-prev-next-control label:hover{opacity:1}#slider_bl .slider-dot-control{position:absolute;width:100%;bottom:0;text-align:center}#slider_bl .slider-dot-control label{cursor:pointer;border-radius:5px;display:inline-block;width:10px;height:10px;background:#bbb;-webkit-transition:all .3s;-moz-transition:all .3s;transition:all .3s}#slider_bl .slider-dot-control label:hover{background:#ccc;border-color:#777}#slider_bl .info{position:absolute;font-style:italic;line-height:20px;opacity:0;color:#000;text-align:left;-webkit-transition:all 1s ease-out .6s;-moz-transition:all 1s ease-out .6s;transition:all 1s ease-out .6s}#slider_bl .info h3{color:#fcfff4;margin:0 0 5px;font-weight:400;font-size:1.5em;font-style:normal}#slider_bl .info.top-left{top:30px;left:30px}#slider_bl .info.top-right{top:30px;right:30px}#slider_bl .info.bottom-left{bottom:30px;left:30px}#slider_bl .info.bottom-right{bottom:30px;right:30px}#slider_bl .slider-wrapper{width:100%;overflow:hidden;border-radius:5px;box-shadow:1px 1px 4px #666;background:#fff;background:#fcfff4;-webkit-transform:translateZ(0);-moz-transform:translateZ(0);-ms-transform:translateZ(0);-o-transform:translateZ(0);transform:translateZ(0);-webkit-transition:all .5s ease-out;-moz-transition:all .5s ease-out;transition:all .5s ease-out}#slider_bl .slider-wrapper .inner{-webkit-transform:translateZ(0);-moz-transform:translateZ(0);-ms-transform:translateZ(0);-o-transform:translateZ(0);transform:translateZ(0);-webkit-transition:all .8s cubic-bezier(.77,0,.175,1);-moz-transition:all .8s cubic-bezier(.77,0,.175,1);transition:all .8s cubic-bezier(.77,0,.175,1)}#slider_bl #slide1:checked~.slider-prev-next-control label:nth-child(2)::after,#slider_bl #slide1:checked~.slider-prev-next-control label:nth-child(5)::after,#slider_bl #slide2:checked~.slider-prev-next-control label:nth-child(1)::after,#slider_bl #slide2:checked~.slider-prev-next-control label:nth-child(3)::after,#slider_bl #slide3:checked~.slider-prev-next-control label:nth-child(2)::after,#slider_bl #slide3:checked~.slider-prev-next-control label:nth-child(4)::after,#slider_bl #slide4:checked~.slider-prev-next-control label:nth-child(3)::after,#slider_bl #slide4:checked~.slider-prev-next-control label:nth-child(5)::after,#slider_bl #slide5:checked~.slider-prev-next-control label:nth-child(1)::after,#slider_bl #slide5:checked~.slider-prev-next-control label:nth-child(4)::after{font-family:FontAwesome;font-style:normal;font-weight:400;text-decoration:inherit;margin:0;line-height:38px;font-size:3em;display:block;color:#777}#slider_bl #slide1:checked~.slider-prev-next-control label:nth-child(2)::after,#slider_bl #slide2:checked~.slider-prev-next-control label:nth-child(3)::after,#slider_bl #slide3:checked~.slider-prev-next-control label:nth-child(4)::after,#slider_bl #slide4:checked~.slider-prev-next-control label:nth-child(5)::after,#slider_bl #slide5:checked~.slider-prev-next-control label:nth-child(1)::after{content:"\f105";padding-left:15px}#slider_bl #slide1:checked~.slider-prev-next-control label:nth-child(2),#slider_bl #slide2:checked~.slider-prev-next-control label:nth-child(3),#slider_bl #slide3:checked~.slider-prev-next-control label:nth-child(4),#slider_bl #slide4:checked~.slider-prev-next-control label:nth-child(5),#slider_bl #slide5:checked~.slider-prev-next-control label:nth-child(1){display:block;font-size: 18px;float:right;margin-right:5px}#slider_bl #slide1:checked~.slider-prev-next-control label:nth-child(5),#slider_bl #slide2:checked~.slider-prev-next-control label:nth-child(1),#slider_bl #slide3:checked~.slider-prev-next-control label:nth-child(2),#slider_bl #slide4:checked~.slider-prev-next-control label:nth-child(3),#slider_bl #slide5:checked~.slider-prev-next-control label:nth-child(4){display:block;font-size: 18px;float:left;margin-left:5px}#slider_bl #slide1:checked~.slider-prev-next-control label:nth-child(5)::after,#slider_bl #slide2:checked~.slider-prev-next-control label:nth-child(1)::after,#slider_bl #slide3:checked~.slider-prev-next-control label:nth-child(2)::after,#slider_bl #slide4:checked~.slider-prev-next-control label:nth-child(3)::after,#slider_bl #slide5:checked~.slider-prev-next-control label:nth-child(4)::after{content:"\f104";padding-left:8px}#slider_bl #slide1:checked~.slider-dot-control label:nth-child(1),#slider_bl #slide2:checked~.slider-dot-control label:nth-child(2),#slider_bl #slide3:checked~.slider-dot-control label:nth-child(3),#slider_bl #slide4:checked~.slider-dot-control label:nth-child(4),#slider_bl #slide5:checked~.slider-dot-control label:nth-child(5){background:#333}#slider_bl #slide1:checked~.slider-wrapper article:nth-child(1) .info,#slider_bl #slide2:checked~.slider-wrapper article:nth-child(2) .info,#slider_bl #slide3:checked~.slider-wrapper article:nth-child(3) .info,#slider_bl #slide4:checked~.slider-wrapper article:nth-child(4) .info,#slider_bl #slide5:checked~.slider-wrapper article:nth-child(5) .info{opacity:1}#slider_bl #slide1:checked~.slider-wrapper .inner{margin-left:0}#slider_bl #slide2:checked~.slider-wrapper .inner{margin-left:-100%}#slider_bl #slide3:checked~.slider-wrapper .inner{margin-left:-200%}#slider_bl #slide4:checked~.slider-wrapper .inner{margin-left:-300%}#slider_bl #slide5:checked~.slider-wrapper .inner{margin-left:-400%}@media only screen and (max-width:850px) and (min-width:450px){#slider_bl .slider-wrapper{border-radius:0}}@media only screen and (max-width:450px){#slider_bl .slider-wrapper{border-radius:0}#slider_bl .slider-wrapper .info{opacity:0}}@media only screen and (min-width:850px){#slider_bl body{padding:0 80px}}

.inner img{
  object-fit: cover;
  height: 675px;
}

.text-ul {
  counter-reset: index;  
  padding: 0;
}

/* List element */
.text-ul li {
  counter-increment: index; 
  display: flex;
  align-items: center;
  padding: 6px 0;
  box-sizing: border-box;
}


/* Element counter */
.text-ul li::before {
  content: counters(index, ".", decimal-leading-zero);
  font-size: 1.5rem;
  text-align: right;
  font-weight: bold;
  min-width: 50px;
  padding-right: 12px;
  font-variant-numeric: tabular-nums;
  align-self: flex-start;
  background-image: linear-gradient(to bottom, aquamarine, orangered);
  background-attachment: fixed;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* Element separation */
.text-ul li + li {
  border-top: 1px solid rgba(255,255,255,0.2);
}


.span-ul .tag{
  display: block;
  align-items: center;
  box-sizing: border-box;
  font-size: 1.3rem;
  text-align: left;
  font-weight: bold;
  min-width: 50px;
  align-self: flex-start;
  color: #ee5f1e;
  width: 100%;
}

.inner-border {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.outer-border {
border: 2px solid #DE9B72;
   height: 99%;
  width: 98%;
  padding: 6px;
  margin: 0 auto;
}

@media (min-width: 992px) {
.outer-border {
  height: 94%;
}
}

.mid-border {
  border: 6px solid #DE9B72;
  height: 100%;
  width: 100%;
  padding: 6px;
  margin: auto;
}

.inner-border {
position: relative;
border: 2px solid #DE9B72;
  height: 100%;
  width: 100%;
  margin: auto;
}


/* Decorations */
.corner-decoration {
position: absolute;
  width: 3em;
  margin: -3px;
}

.border-image{
  top: 3px;
  width: 96% !important;
  left: 2px;
  transform: scale(1.32);
  position: absolute;
  object-fit: fill !important;
}

.corner-decoration.corner-left-top {
left: 0;
top: 0;
}

.corner-decoration.corner-right-top {
top: 0;
right: 0;
 -webkit-transform: scaleX(-1);
transform: scaleX(-1);
}

.corner-decoration.corner-right-bottom {
right: 0;
bottom: 0;
 -webkit-transform: scale(-1);
  transform: scale(-1);
}

.corner-decoration.corner-left-bottom {
left: 0;
bottom: 0;
-webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}


.vertical-decoration {
position: absolute;
left: 0;
right: 0;
margin: auto;
width: 11em;
}

.vertical-decoration.top {
top: 0;

}

.vertical-decoration.bottom {
bottom: 0;
-webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}


/* Element separation */

.map-pull{
  display: flex;
}
.map-pull-text{
  font-family: 'TypeFont', cursive;
    font-size: 20px;
    letter-spacing: 2px;
    width: 100%;
}

